<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Model [
<!ELEMENT Model (Property*,HiddenProperty*,Model*)>
<!ATTLIST Model Name CDATA #REQUIRED>
<!ELEMENT Property (#PCDATA)>
<!ATTLIST Property Name CDATA #REQUIRED>
<!ELEMENT HiddenProperty (#PCDATA)>
<!ATTLIST HiddenProperty Name CDATA #REQUIRED>
]>

<Model Name="Report Template">
     <Property Name="Model Name">Report Template</Property>
     <Property Name="Name">Report Template</Property>
     <Property Name="Caption">Report Template</Property>
     <Property Name="Locale">hr_HR</Property>
     <Property Name="Record Source">JDOIsplataAgenata</Property>
     <Property Name="Page Header">All Pages</Property>
     <Property Name="Page Footer">All Pages</Property>
     <Property Name="Width">10600</Property>
     <Property Name="Grid On">No</Property>
     <Property Name="Snap to grid">No</Property>
     <Property Name="Grid X">5</Property>
     <Property Name="Grid Y">5</Property>
     <Property Name="Version">1.50</Property>
     <Property Name="Last Modified">Mon Dec 12 13:23:44 CET 2005</Property>
     <HiddenProperty Name="Template Path">C:\workspace\devel\projects\spa\src\hr\restart\robno\reports\</HiddenProperty>
     <HiddenProperty Name="Text_Count">198</HiddenProperty>
     <HiddenProperty Name="Label_Count">194</HiddenProperty>
     <HiddenProperty Name="Image_Count">0</HiddenProperty>
     <HiddenProperty Name="Page_Break_Count">0</HiddenProperty>
     <HiddenProperty Name="Line_Count">36</HiddenProperty>
     <HiddenProperty Name="Custom_Component_Count">0</HiddenProperty>
     <HiddenProperty Name="Rectangle_Count">20</HiddenProperty>
     <HiddenProperty Name="Svg_Count">0</HiddenProperty>
     <HiddenProperty Name="SubReport_Count">0</HiddenProperty>
     <HiddenProperty Name="Chart_Count">0</HiddenProperty>
     <HiddenProperty Name="Parameter_Count">0</HiddenProperty>
     <HiddenProperty Name="Component_Count"></HiddenProperty>
     <Model Name="Parameters">
          <Property Name="Model Name">Parameters</Property>
          <Property Name="Name">Parameters</Property>
     </Model>
     <Model Name="Page Setup">
          <Property Name="Model Name">Page Setup</Property>
          <Property Name="Name">Page Setup</Property>
          <Property Name="Top">567.0</Property>
          <Property Name="Bottom">567.0</Property>
          <Property Name="Left">567.0</Property>
          <Property Name="Right">567.0</Property>
          <Property Name="Orientation">Portrait</Property>
          <Property Name="Size">A4</Property>
          <Property Name="Width">11895.66</Property>
          <Property Name="Height">16834.23</Property>
          <Property Name="Source"></Property>
          <Property Name="Number of Columns">1</Property>
          <Property Name="Row Spacing">0.0</Property>
          <Property Name="Column Spacing">0.0</Property>
          <Property Name="Column Layout">Across, then Down</Property>
          <Property Name="Paint Margin">No</Property>
     </Model>
     <Model Name="Watermark">
          <Property Name="Model Name">Watermark</Property>
          <Property Name="Name">Watermark</Property>
          <Property Name="Picture"></Property>
          <Property Name="Picture Type"></Property>
          <Property Name="Size Mode">Clip</Property>
          <Property Name="Picture Alignment">Center</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Left">1440</Property>
          <Property Name="Top">1440</Property>
          <Property Name="Width">2880</Property>
          <Property Name="Height">2880</Property>
          <Property Name="Border Style">Transparent</Property>
          <Property Name="Border Color">Black</Property>
          <Property Name="Border Width">1 pt</Property>
          <Property Name="Lock">No</Property>
     </Model>
     <Model Name="Sections">
          <Property Name="Model Name">Sections</Property>
          <Property Name="Name">Sections</Property>
          <Model Name="Section0">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section0</Property>
               <Property Name="Field">FirstLine</Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">Yes</Property>
               <Property Name="Group Footer">Yes</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section1">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section1</Property>
               <Property Name="Field">FirstLine</Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">Yes</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section2">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section2</Property>
               <Property Name="Field">CAGENT</Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section3">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section3</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section4">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section4</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section5">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section5</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section6">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section6</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section7">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section7</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section8">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section8</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
          <Model Name="Section9">
               <Property Name="Model Name">Section</Property>
               <Property Name="Name">Section9</Property>
               <Property Name="Field"></Property>
               <Property Name="Sort Order">Ascending</Property>
               <Property Name="Group Header">No</Property>
               <Property Name="Group Footer">No</Property>
               <Property Name="Group On"></Property>
               <Property Name="Group Interval">1</Property>
               <Property Name="Keep Together">No</Property>
          </Model>
     </Model>
     <Model Name="Report Header">
          <Property Name="Model Name">Report Header</Property>
          <Property Name="Name">Report Header</Property>
          <Property Name="Caption">Report Header</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Can Grow">No</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">0</Property>
          <Model Name="Text96">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text96</Property>
               <Property Name="Control Source">=(create-var-cache)</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">1540</Property>
               <Property Name="Height">320</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Red</Property>
               <Property Name="Font Name">Serif</Property>
               <Property Name="Font Size">10</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
     </Model>
     <Model Name="Page Header">
          <Property Name="Model Name">Page Header</Property>
          <Property Name="Name">Page Header</Property>
          <Property Name="Caption">Page Header</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Height">0</Property>
     </Model>
     <Model Name="Section Header0">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header0</Property>
          <Property Name="Caption">FirstLine</Property>
          <Property Name="Force New Page">Before</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">Yes</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">2460</Property>
          <Model Name="Label186">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label186</Property>
               <Property Name="Caption">
PREGLED PRODAJE, NAPLATE, NAKNADA I ISPLATE AGENTA</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">640</Property>
               <Property Name="Width">10780</Property>
               <Property Name="Height">740</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">14</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Text114">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text114</Property>
               <Property Name="Control Source">Podnaslov</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">20</Property>
               <Property Name="Top">1360</Property>
               <Property Name="Width">10780</Property>
               <Property Name="Height">360</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">14</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
          <Model Name="Text164">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text164</Property>
               <Property Name="Control Source">ThirdLine</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">440</Property>
               <Property Name="Width">5670.0</Property>
               <Property Name="Height">226.8</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
          <Model Name="Text165">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text165</Property>
               <Property Name="Control Source">SecondLine</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">220</Property>
               <Property Name="Width">5670.0</Property>
               <Property Name="Height">226.8</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
          <Model Name="Text166">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text166</Property>
               <Property Name="Control Source">FirstLine</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">5670.0</Property>
               <Property Name="Height">226.8</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
          <Model Name="Text194">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text194</Property>
               <Property Name="Control Source">NAZAGENT</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">2200</Property>
               <Property Name="Top">2140</Property>
               <Property Name="Width">4520</Property>
               <Property Name="Height">300</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text195">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text195</Property>
               <Property Name="Control Source">CAGENT</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">1060</Property>
               <Property Name="Top">2140</Property>
               <Property Name="Width">1100</Property>
               <Property Name="Height">300</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Label191">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label191</Property>
               <Property Name="Caption">Agent</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">2140</Property>
               <Property Name="Width">1040</Property>
               <Property Name="Height">300</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
          </Model>
     </Model>
     <Model Name="Section Header1">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header1</Property>
          <Property Name="Caption">FirstLine</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Can Grow">No</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">Yes</Property>
          <Property Name="Height">680</Property>
          <Model Name="Label162">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label162</Property>
               <Property Name="Caption">Iznos</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">2700</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">1660</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label163">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label163</Property>
               <Property Name="Caption">Napl.</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">4380</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">640</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label164">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label164</Property>
               <Property Name="Caption">%</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">5040</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">780</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label165">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label165</Property>
               <Property Name="Caption">Isplaćeno</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">7500</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label166">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label166</Property>
               <Property Name="Caption">Za isplatiti</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">9160</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label167">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label167</Property>
               <Property Name="Caption">Iznos</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">5840</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label169">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label169</Property>
               <Property Name="Caption">Prodaja</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">80</Property>
               <Property Name="Width">5020</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label172">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label172</Property>
               <Property Name="Caption">Naknada</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">5040</Property>
               <Property Name="Top">80</Property>
               <Property Name="Width">5760</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Line28">
               <Property Name="Model Name">Line</Property>
               <Property Name="Name">Line28</Property>
               <Property Name="Line Slant">\</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">600</Property>
               <Property Name="Width">10740</Property>
               <Property Name="Height">0</Property>
               <Property Name="Border Style">Solid</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Line29">
               <Property Name="Model Name">Line</Property>
               <Property Name="Name">Line29</Property>
               <Property Name="Line Slant">\</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">40</Property>
               <Property Name="Width">10740</Property>
               <Property Name="Height">0</Property>
               <Property Name="Border Style">Solid</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label189">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label189</Property>
               <Property Name="Caption">Vrsta</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">760</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label192">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label192</Property>
               <Property Name="Caption">Broj</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">780</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">820</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Label193">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label193</Property>
               <Property Name="Caption">Datum</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">1640</Property>
               <Property Name="Top">340</Property>
               <Property Name="Width">1040</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">White</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
          </Model>
     </Model>
     <Model Name="Section Header2">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header2</Property>
          <Property Name="Caption">CAGENT</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header3">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header3</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header4">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header4</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header5">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header5</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header6">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header6</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header7">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header7</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header8">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header8</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Header9">
          <Property Name="Model Name">Section Header</Property>
          <Property Name="Name">Section Header9</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Repeat Section">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Detail">
          <Property Name="Model Name">Detail</Property>
          <Property Name="Name">Detail</Property>
          <Property Name="Caption">Detail</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">Yes</Property>
          <Property Name="Height">280</Property>
          <Model Name="Text8">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text8</Property>
               <Property Name="Control Source">Broj</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">780</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">820</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text10">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text10</Property>
               <Property Name="Control Source">Iznos</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">2700</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">1660</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text13">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text13</Property>
               <Property Name="Control Source">Postotak</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">5040</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">780</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text16">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text16</Property>
               <Property Name="Control Source">Isplaceno</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">7480</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text17">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text17</Property>
               <Property Name="Control Source">Ostatak</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">9120</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text132">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text132</Property>
               <Property Name="Control Source">Datum</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">1640</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">1040</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text139">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text139</Property>
               <Property Name="Control Source">StatusNaplaceno</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">4380</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text196">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text196</Property>
               <Property Name="Control Source">Vrsta</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">760</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Center</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text197">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text197</Property>
               <Property Name="Control Source">Provizija</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">5840</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
     </Model>
     <Model Name="Section Footer9">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer9</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer8">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer8</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer7">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer7</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer6">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer6</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer5">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer5</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer4">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer4</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer3">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer3</Property>
          <Property Name="Caption"></Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer2">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer2</Property>
          <Property Name="Caption">CAGENT</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer1">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer1</Property>
          <Property Name="Caption">FirstLine</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">No</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">720</Property>
     </Model>
     <Model Name="Section Footer0">
          <Property Name="Model Name">Section Footer</Property>
          <Property Name="Name">Section Footer0</Property>
          <Property Name="Caption">FirstLine</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Can Grow">Yes</Property>
          <Property Name="Can Shrink">Yes</Property>
          <Property Name="Height">1600</Property>
          <Model Name="Label134">
               <Property Name="Model Name">Label</Property>
               <Property Name="Name">Label134</Property>
               <Property Name="Caption"></Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">140</Property>
               <Property Name="Width">10780</Property>
               <Property Name="Height">260</Property>
               <Property Name="Back Style">Normal</Property>
               <Property Name="Back Color">Gray</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">12</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Text137">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text137</Property>
               <Property Name="Control Source">=(dsum &quot;Iznos&quot;)</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">2700</Property>
               <Property Name="Top">160</Property>
               <Property Name="Width">1660</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text138">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text138</Property>
               <Property Name="Control Source">=(dsum &quot;Provizija&quot;)</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">5840</Property>
               <Property Name="Top">160</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text140">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text140</Property>
               <Property Name="Control Source">=(dsum &quot;Isplaceno&quot;)</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">7480</Property>
               <Property Name="Top">160</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Text141">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text141</Property>
               <Property Name="Control Source">=(dsum &quot;Ostatak&quot;)</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">Number|false|1|309|2|2|true|3|false</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">9120</Property>
               <Property Name="Top">160</Property>
               <Property Name="Width">1640</Property>
               <Property Name="Height">220</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Bold</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">No</Property>
          </Model>
          <Model Name="Line30">
               <Property Name="Model Name">Line</Property>
               <Property Name="Name">Line30</Property>
               <Property Name="Line Slant">\</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">100</Property>
               <Property Name="Width">10740</Property>
               <Property Name="Height">0</Property>
               <Property Name="Border Style">Solid</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Lock">No</Property>
          </Model>
          <Model Name="Line31">
               <Property Name="Model Name">Line</Property>
               <Property Name="Name">Line31</Property>
               <Property Name="Line Slant">\</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Left">0</Property>
               <Property Name="Top">420</Property>
               <Property Name="Width">10740</Property>
               <Property Name="Height">0</Property>
               <Property Name="Border Style">Solid</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Lock">No</Property>
          </Model>
     </Model>
     <Model Name="Page Footer">
          <Property Name="Model Name">Page Footer</Property>
          <Property Name="Name">Page Footer</Property>
          <Property Name="Caption">Page Footer</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Height">240</Property>
          <Model Name="Text142">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text142</Property>
               <Property Name="Control Source">=(string-append &quot;Stranica &quot; (page) &quot; od &quot; (pages))</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">12980</Property>
               <Property Name="Top">0</Property>
               <Property Name="Width">2700</Property>
               <Property Name="Height">240</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Lucida Bright</Property>
               <Property Name="Font Size">8</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Right</Property>
               <Property Name="Lock">Yes</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
     </Model>
     <Model Name="Report Footer">
          <Property Name="Model Name">Report Footer</Property>
          <Property Name="Name">Report Footer</Property>
          <Property Name="Caption">Report Footer</Property>
          <Property Name="Force New Page">None</Property>
          <Property Name="New Row Or Col">None</Property>
          <Property Name="Keep Together">Yes</Property>
          <Property Name="Visible">Yes</Property>
          <Property Name="Can Grow">No</Property>
          <Property Name="Can Shrink">No</Property>
          <Property Name="Height">0</Property>
          <Model Name="Text97">
               <Property Name="Model Name">Text</Property>
               <Property Name="Name">Text97</Property>
               <Property Name="Control Source">=(destroy-var-cache)</Property>
               <Property Name="Running Sum">No</Property>
               <Property Name="Locale">Template Locale</Property>
               <Property Name="Format">None</Property>
               <Property Name="Visible">Yes</Property>
               <Property Name="Hide Duplicates">No</Property>
               <Property Name="Can Grow">No</Property>
               <Property Name="Can Shrink">No</Property>
               <Property Name="Left">2380</Property>
               <Property Name="Top">120</Property>
               <Property Name="Width">700</Property>
               <Property Name="Height">680</Property>
               <Property Name="Back Style">Transparent</Property>
               <Property Name="Back Color">White</Property>
               <Property Name="Border Style">Transparent</Property>
               <Property Name="Border Color">Black</Property>
               <Property Name="Border Width">1 pt</Property>
               <Property Name="Font Color">Black</Property>
               <Property Name="Font Name">Serif</Property>
               <Property Name="Font Size">10</Property>
               <Property Name="Font Weight">Plain</Property>
               <Property Name="Font Italic">No</Property>
               <Property Name="Font Underline">No</Property>
               <Property Name="Text Align">Left</Property>
               <Property Name="Lock">No</Property>
               <Property Name="Auto Wrap">Yes</Property>
          </Model>
     </Model>
</Model>
